#dont ignore .gitignore
!.gitignore

#ignore executables
/*.exe
/*.out

#ignore php files (until I delete them)
/*.php

#ignore run.* except for the C file
run.*
!run.c

#ignore visual basic and java projects
/java
/vbApp